.secondSection {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 56px;
    li {
      // 去掉样式
      list-style: none;

      color: #fff;
    }
  }
  section {
    padding: 16px;
    h2 {
      font-size: 1rem;
      color: #fff;
    }
    img {
      margin-top: 16px;
      border-radius: 6px;
      width: 100%;
    }
  }
}
