.secondSection {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 56px;
    li {
      position: relative;
      list-style: none;
      color: #fff;
      .line {
        position: absolute;
        top: 26px;
        left: 0px;
        bottom: -9px;
        // transform: translateY(-50%);
        width: 100%;
        height: 3px;
        background: yellow;
        opacity: 0;
        // 原来的样式中加上过渡效果
        transition: opacity 0.3s;
        &.visible {
          opacity: 1;
        }
      }
    }
  }
  section {
    padding: 16px;
    h2 {
      font-size: 1rem;
      color: #fff;
    }
    img {
      margin-top: 16px;
      border-radius: 6px;
      width: 100%;
    }
  }
}
